<div class="sticky">
  <div class="header">
    <div style="cursor: pointer;" routerLink="" class="logo"><i class="fa-solid fa-cloud-sun-rain" style="color: #FFD43B;"></i>
      <h2>MeteoSearch</h2></div>
      <form  [formGroup]="form" (ngSubmit)="onSubmit(form.controls.location.value!)">
        <input [formControl]="form.controls.location" placeholder="Enter location here" type="text" class="input_location">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
  </div>
</div>
