
<app-header (location)="getLocation($event)"></app-header>

@if(weather?.location){
  <div class="main">
    <div class="photo">
      @if(weather?.description.includes('rain')){
        <img src="nori.png" alt="">
      }@else if(weather?.description.includes('cloud')){
        <img src="ploaie.png" alt="">
      }@else if(weather?.description.includes('clear')){
        <img src="soare.png" alt="">
      }@else if(weather?.description === 'broken clouds'){
        <img src="inorat.png" alt="">
      }
    </div>
    <div class="information">
      <h1 class="locationTitle">{{weather?.location}}</h1>
      <div class="weather">
      @if(weather?.description.includes('rain')){
        <i class="fa-solid fa-cloud-rain" style="color: #878787;"></i>
      }@else if(weather?.description.includes('cloud')){
        <i class="fa-solid fa-cloud" style="color: #878787;"></i>
      }@else if(weather?.description.includes('clear')){
        <i class="fa-solid fa-sun" style="color: #FFD43B;"></i>
      }@else if(weather?.description === 'broken clouds'){
        <i class="fa-solid fa-cloud-sun" style="color: #FFD43B;"></i>
      }
        <div class="temperature">
          <p>Temperature</p>
          <h2>{{weather?.temperature | number: '1.0-0'}}°C</h2>
        </div>
      </div>
      <div class="extra">
        <div class="humidity">
          <h2>Humidity:</h2>
          <h3>{{weather?.humidity}}</h3>
        </div>
        <div class="windspeed">
          <h2>Wind Speed:</h2>
          <h3>{{weather?.wind_speed}}</h3>
        </div>
      </div>
    </div>
  </div>
}@else{
<div class="firstScreen">
  <h1 >Please enter a location to see the temperature</h1>
</div>
}






